<div class="accordion" id="{{default accordion_id 'accordion_default'}}">
    {{#each_row}}
    <div class="accordion-item">
        <h2 class="accordion-header" id="heading-{{@row_index}}">
            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapse-{{@row_index}}" aria-controls="collapse-{{@index}}">
                {{title}}
            </button>
        </h2>
        <div id="collapse-{{@row_index}}" class="accordion-collapse collapse {{#if (eq @row_index 0)}}show{{/if}}"
            aria-labelledby="heading-{{@row_index}}" data-bs-parent="#{{default accordion_id 'accordion_default'}}">
            <div class="accordion-body">
                {{{markdown contents_md}}}
            </div>
        </div>
    </div>
    {{/each_row}}
</div>