<div class="btn-list mb-2 {{#if justify}}justify-content-{{justify}}{{/if}}">
{{#each_row}}
    {{#if form}}
    <button type="submit" form="{{form}}" {{#if link}}formaction="{{link}}"{{/if}} 
    {{else}}
    <a href="{{link}}"
    {{/if}}
        class="btn {{#if disabled}} disabled{{/if}}
        {{~#if color}} btn-{{color}}{{/if}}
        {{~#if ../size}} btn-{{../size}}{{/if}}
        {{~#if outline}} btn-outline-{{outline}}{{/if}}
        {{~#if ../shape}} btn-{{../shape}}{{/if}}
        {{~#if space_after}} me-auto{{/if}}"
        role="button">
        {{~#if icon~}}
            <span class="me-1">{{~icon_img icon~}}</span>
        {{~/if~}}
        {{~title~}}
    {{#if form}}
    </button>
    {{else}}
    </a>
    {{/if}}
{{/each_row}}
</div>