<div class="code-component my-1">
    {{#each_row}}
        <h2>{{title}}</h2>
        <p>{{description}}</p>
        {{#if description_md}}
            {{{markdown description_md}}}
        {{/if}}
        <pre class="mb-0"><code 
            {{#if language}}class="language-{{language}}"{{/if}}
        >{{contents}}</code></pre>
    {{/each_row}}
</div>
