<div class="card my-2">
    {{#if title}}
        <div class="card-header">
            {{#if image_url}}
                <img src="{{image_url}}" class="avatar avatar-lg me-2 rounded" width="32" height="32" alt="{{title}}" />
            {{/if}}
            {{#if icon}}
                <span class="avatar avatar-sm me-2">{{icon_img icon}}</span>
            {{/if}}
            <h2 class="card-title">
                {{~title~}}
                {{#if description}}
                    <small class="text-muted d-block">{{description}}</small>
                {{/if}}
                {{#if description_md}}
                    <small class="text-muted d-block remove-bottom-margin">{{{markdown description_md}}}</small>
                {{/if}}
            </h2>
        </div>
    {{/if}}
    <div class="card-body">
        <div class="datagrid">
            {{#each_row}}
                <div class="datagrid-item">
                    <div class="datagrid-title">{{title}}</div>
                    <div class="datagrid-content {{#if active}}fw-bold{{/if}}">
                        {{#if link}}<a href="{{link}}">{{/if}}
                        {{#if color}}
                        <span class="status status-{{color}} {{#if active}}fw-bold{{/if}}">
                        {{/if}}
                        {{#if image_url}}
                            <img src="{{image_url}}" class="avatar avatar-xs me-1 rounded" width="32" height="32" alt="{{title}}" />
                        {{/if}}
                        {{#if icon}}
                            {{~icon_img icon~}}
                        {{/if}}
                        {{#if description}}
                            {{description}}
                        {{else}}
                            –
                        {{/if}}
                        {{#if color}}
                        </span>
                        {{/if}}
                        {{#if link}}</a>{{/if}}
                        {{#if footer}}
                            <small class="text-muted d-block">{{footer}}</small>
                        {{/if}}
                    </div>
                </div>
            {{/each_row}}
        </div>
    </div>
</div>
