<div class="empty">
  {{#if header}}
    <div class="empty-header">{{header}}</div>
  {{else}}
    {{#if icon}}
      <div class="empty-icon">
        <span>{{icon_img icon }}</span>
      </div>
    {{else}}
      {{#if image}}
        <div class="empty-img"><img src="{{image}}" height="128" alt="{{image}}"/></div>
      {{/if}}
    {{/if}}
  {{/if}}
  <p class="empty-title">{{title}}</p>
  <p class="empty-subtitle text-secondary">
      {{description}}
  </p>
  <div class="empty-action">
    <a href="{{link}}" class="btn btn-primary">
      <span class="me-1">{{icon_img link_icon}}</span>
      {{link_text}}
    </a>
  </div>
</div>
