<div class="card my-2">
    {{#if title}}
        <div class="card-header ">
            <h2 class="card-title">{{title}}</h2>
        </div>
    {{/if}}
    <div class="list-group list-group-flush list-group-hoverable">
        {{#each_row}}
            <{{#if link}}a href="{{link}}" {{else}}div{{/if}}
                           class="list-group-item list-group-item-action {{#if active}}active{{/if}}">
                <div class="row align-items-center">
                    {{#if color}}
                        <div class="col-auto"><span class="badge bg-{{color}}"></span></div>
                    {{/if}}
                    {{#if icon}}
                        <div class="col-auto fs-2">
                            {{~icon_img icon~}}
                        </div>
                    {{/if}}
                    {{#if image_url}}
                        <div class="col-auto">
                            <img src="{{image_url}}" class="avatar avatar-md rounded" width="45" height="45" alt="{{title}}" />
                        </div>
                    {{/if}}
                    <div class="col text-truncate">
                        {{title}}
                        <div class="d-block text-muted text-truncate mt-n1">
                            {{~description~}}
                            {{~#if description_md~}}
                                <div style="margin-bottom: -1rem">{{{markdown description_md}}}</div>
                            {{~/if~}}
                        </div>
                    </div>
                </div>
            </{{#if link}}a {{else}}div{{/if}}>
        {{/each_row}}
        {{#if (eq @row_index 0)}}
            <a href="{{default empty_link '#'}}" class="list-group-item list-group-item-action">
                <div class="row align-items-center">
                    <div class="col text-truncate">
                        {{default empty_title 'No item'}}
                        <div class="d-block text-muted text-truncate mt-n1">
                            {{~empty_description~}}
                            {{~#if empty_description_md~}}
                                <div style="margin-bottom: -1rem">{{{markdown empty_description_md}}}</div>
                            {{~/if~}}
                        </div>
                    </div>
                </div>
            </a>
        {{/if}}
    </div>
</div>