<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0">
	<channel>
		<title>{{title}}</title>
		<link>{{link}}</link>
		<description>{{description}}</description>
		{{#each_row}}
		<item>
			<title>{{title}}</title>
			<link>{{link}}</link>
			<description><![CDATA[{{description}}]]></description>
			{{~#if pubdate}}<pubDate>{{pubdate}}</pubDate>{{/if}}
		</item>
		{{/each_row}}
	</channel>
</rss>

