<!DOCTYPE html>
<html lang="{{language}}">
<head>
    <meta charset="utf-8"/>
    <title>{{default title "SQLPage"}}</title>
    {{#if norobot}}
        <meta name="robots" content="noindex,nofollow">{{/if}}
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content="{{description}}"/>
    <script src="https://cdn.jsdelivr.net/npm/@tabler/core@1.0.0-beta16/dist/js/tabler.min.js"
            integrity="sha384-NfXGBg1w+TugLSvfRPpvINoZEXPziSXpDApO7m+NbJD1AQH6Wee7xVtkHQJcy94D"
            crossorigin="anonymous" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/list.js@2.3.1/dist/list.min.js"
            integrity="sha384-FhEOA/pIE4BfDuwGksHaZD8ms5j+dfB9QIWo7naDMzAVoCE1My4G2iu8/n/R3AAH" crossorigin="anonymous"
            defer></script>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts@3.36.3/dist/apexcharts.min.js"
            integrity="sha384-C6GFgx2SBlJdOUuPcap7AvyNHT/BO4iijav/t6IbqBHOCkXH3h38D7JHz5NPRnYB"
            crossorigin="anonymous" defer></script>
    <script src="/sqlpage.js" defer></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/core@1.0.0-beta16/dist/css/tabler-vendors.min.css"
          integrity="sha384-Vw3r+324He6ZC9DN+HRbamdYoQVrMh5WtZRGnkpis9x6+QqHQ/cqlttELZNZCbcK" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons@1.112.0/iconfont/tabler-icons.min.css"
          integrity="sha384-OfHWI4BofNeB6E1ORk2ag/x+74wTeUvEBThG2KErl4aFzHHPpu+snqJ6jeHLUVsK" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/core@1.0.0-beta16/dist/css/tabler.min.css"
          integrity="sha384-swGeMi9+uRunpz44HGkid0/L1Ud704D+qdaEAOQfA6SLGa5DMxL1CQl+4nAakber" crossorigin="anonymous">
</head>

<body>
{{#if title}}
    <header class="page-header">
        <nav class="navbar navbar-dark bg-primary">
            <div class="container-fluid">
                <a class="navbar-brand" href="{{#if link}}{{link}}{{else}}#{{/if}}">
                    {{#if icon}}
                        <img src="{{image}}" alt="" width="32" height="32"
                             class="d-inline-block align-text-top">
                    {{/if}}
                    {{title}}
                </a>
            </div>
        </nav>
    </header>
{{/if}}

<main class="layout-boxed">
    <div class="page">
        <main class="page-wrapper container-xl mt-3">
            {{~#each_row~}}{{~/each_row~}}
        </main>
    </div>
</main>
</body>
</html>
