<!DOCTYPE html>
<html lang="{{language}}">
<head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/core@1.0.0-beta11/dist/css/tabler.min.css"
          integrity="sha384-kqF6p8GjiWujYFUscaaYqg1Dx6iiRMpy5m80cTgG1ZLeRnfI/4oU86sBv76gUrak" crossorigin="anonymous">
    <title>{{default title "SQLPage"}}</title>
    {{#if norobot}}
        <meta name="robots" content="noindex,nofollow">{{/if}}
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content="{{description}}"/>
    <script src="https://cdn.jsdelivr.net/npm/@tabler/core@1.0.0-beta11/dist/js/tabler.min.js"
            integrity="sha384-f28j+F3H/adoEZHOH9YnzfHewG+lesL9nwfgglZp2EzrlmP5vJQng5PDeGmlwBVq"
            crossorigin="anonymous" async defer></script>
    <script src="https://cdn.jsdelivr.net/npm/list.js@2.3.1/dist/list.min.js"
            integrity="sha256-NEVvGNMGqFvs6adGLZjm5sLgcuX9rGTg1wlGtA1f7M8=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/core@1.0.0-beta11/dist/css/tabler-vendors.min.css"
          integrity="sha384-WFdUKD97fI2WrhpO8dRhRBawO9FvR1+g+gz1s2Rt0lAWFPATzL9i0HGMR7SoGq/V" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons@1.90.0/iconfont/tabler-icons.min.css"
          integrity="sha384-ItU0LF+W0kpd/M81XFQWuI3rh4fNL631ngj6hrfm0lAWxOFwyIhw3l0OmS9tWEOY" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/apexcharts@3.35.4/dist/apexcharts.min.js"
            integrity="sha384-P22J6p3xDoXwqyCO6kIEY8d8auHYzb4BvaHXROlaGLZ8PhYSh8c+phglRxT8v1qS"
            crossorigin="anonymous"></script>
</head>

<body>
{{#if title}}
    <header class="page-header">
        <nav class="navbar navbar-dark bg-primary">
            <div class="container-fluid">
                <a class="navbar-brand" href="{{#if link}}{{link}}{{else}}#{{/if}}">
                    {{#if icon}}
                        <img src="{{image}}" alt="" width="32" height="32"
                             class="d-inline-block align-text-top">
                    {{/if}}
                    {{title}}
                </a>
            </div>
        </nav>
    </header>
{{/if}}

<main class="layout-boxed">
    <div class="page">
        <main class="page-wrapper container-xl mt-3">
            {{~#each_row~}}{{~/each_row~}}
        </main>
    </div>
</main>


<script>document.addEventListener('DOMContentLoaded', function () { {{> table}} {{> chart}} })</script>

</body>
</html>
