<!DOCTYPE html>
<html lang="{{language}}" style="font-size: 18px">
<head>
    <meta charset="utf-8"/>
    <title>{{default title "SQLPage"}}</title>
    {{#if norobot}}
        <meta name="robots" content="noindex,nofollow">{{/if}}
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content="{{description}}"/>
    <script src="https://cdn.jsdelivr.net/npm/@tabler/core@1.0.0-beta17/dist/js/tabler.min.js"
            integrity="sha384-T6OMbt8r+r3HjTdJpzzDPsHmC7p02uL6hmbQmp5rQoWbj0J+4FB6oeibwL8fGZIo"
            crossorigin="anonymous" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/list.js@2.3.1/dist/list.min.js"
            integrity="sha384-FhEOA/pIE4BfDuwGksHaZD8ms5j+dfB9QIWo7naDMzAVoCE1My4G2iu8/n/R3AAH" crossorigin="anonymous"
            defer></script>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts@3.37.2/dist/apexcharts.min.js"
            integrity="sha384-Gz6s6rVcBsmuS2DlDdEbW5Nnhwk2Xl5wlAS9/gIZjLwMV9mPDecvdiblvikpT7lv"
            crossorigin="anonymous"></script>
    <script src="/sqlpage.js" defer></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/core@1.0.0-beta17/dist/css/tabler-vendors.min.css"
          integrity="sha384-Lmnl3gI6TKRMa2K7545f8wQJColvoRNnweoyM2yG4JF+nabv3kGhyZ10HjmWDX4C" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons@1.112.0/iconfont/tabler-icons.min.css"
          integrity="sha384-OfHWI4BofNeB6E1ORk2ag/x+74wTeUvEBThG2KErl4aFzHHPpu+snqJ6jeHLUVsK" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/core@1.0.0-beta17/dist/css/tabler.min.css"
          integrity="sha384-CJVEaj4Ct80KLnE227X9AGTd29gwQu/PnQwscWvlYNjHAOLmgysi3Poum3jOJ3WG" crossorigin="anonymous">
</head>

<body class="layout-boxed">
<div class="page">
    {{#if title}}
        <nav class="navbar navbar-expand-md navbar-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="{{#if link}}{{link}}{{else}}/{{/if}}">
                    {{#if image}}
                        <img src="{{image}}" alt="{{title}}" width="32" height="32"
                             class="navbar-brand-image">
                    {{/if}}
                    {{#if icon}}
                        <i class="icon ti ti-{{icon}}"></i>
                    {{/if}}
                    {{title}}
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbar-menu" aria-controls="navbar-menu" aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbar-menu">
                    <ul class="navbar-nav ms-auto">
                        {{#each (to_array menu_item)}}
                            <li class="nav-item">
                                <a class="nav-link text-capitalize" href="{{this}}.sql">{{this}}</a>
                            </li>
                        {{/each}}
                    </ul>
                    {{#if search_target}}
                        <form class="d-flex" role="search" target="{{search_target}}">
                            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"
                                   name="search">
                            <button class="btn btn-outline-success" type="submit">Search</button>
                        </form>
                    {{/if}}
                </div>
            </div>
        </nav>
    {{/if}}
    <main class="page-wrapper container-xl pt-3 px-md-5 px-sm-3">
        {{~#each_row~}}{{~/each_row~}}
    </main>
</div>
</body>
</html>
