{{#if title}}
    <h2 class="mt-3 mb-0">{{title}}</h2>
{{/if}}
{{#if description}}
    <p>{{description}}</p>
{{/if}}
<div class="steps {{#if color}}steps-{{color}}{{/if}} {{#if counter}}steps-counter{{/if}} my-2">
    {{#each_row}}
        {{#if link}}
            <a href="{{link}}"
        {{else}}
        <span
        {{/if}}
            class="step-item {{#if active}}active{{/if}}"
        {{#if description}}data-bs-toggle="tooltip" title="{{description}}"{{/if}}
    >
        {{#if icon}}
            <i class="ti ti-{{icon}}"></i>
        {{/if}}
        {{title}}
        {{#if link}}</a>{{else}}</span>{{/if}}
    {{/each_row}}
</div>