<div class="steps {{#if color}}steps-{{color}}{{/if}} {{#if counter}}steps-counter{{/if}}">
    {{#each_row}}
        {{#if link}}
            <a href="{{link}}"
        {{else}}
        <span
        {{/if}}
            class="step-item {{#if active}}active{{/if}}"
        {{#if description}}data-bs-toggle="tooltip" title="{{description}}"{{/if}}
    >
        {{#if icon}}
            <i class="ti ti-{{icon}}"></i>
        {{/if}}
        {{title}}
        {{#if link}}</a>{{else}}</span>{{/if}}
    {{/each_row}}
</div>