<ul class="nav nav-bordered mb-3 {{#if center}}justify-content-evenly{{/if}} {{class}}" {{#if id}}id="{{id}}"{{/if}}>
    {{~#each_row~}}
    <li class="nav-item {{class}}" {{#if id}}id="{{id}}"{{/if}}>
        <a 
            class="nav-link {{#if active~}}
                active
            {{~/if}} {{#if color~}}
                text-{{color}} border-{{color}}
            {{~/if}} {{#if center~}}
                mx-auto
            {{~/if}}"

            href="{{#if link}}
                {{~link~}}
            {{~else~}}
                ?tab={{title}}{{#if id}}#{{id}}{{/if}}
            {{~/if}}"

            {{#if description~}}
                title="{{description}}"
            {{~/if}}
            >
            {{~#if icon~}}
            <span class="me-1">
                {{~icon_img icon 20~}}
            </span>
            {{~/if}}
            {{~title~}}
        </a>
    </li>
    {{~/each_row~}}
</ul>
