{{{~html~}}}
{{#if title}}
    <h1 id="{{id}}" class="mt-3 {{#if center}}text-center{{/if}}">{{title}}</h1>
{{/if}}
<p class="{{#if center}}mx-auto{{/if}}" {{#if (not title)}}id="{{id}}"{{/if}}>
    {{contents}}
    {{~#each_row~}}
        {{~#if break~}}</p><p>{{~/if~}}
        {{~#if link~}}
        <a href="{{link}}">{{#delay}}</a>{{/delay}}
        {{~/if~}}
        {{~#if code~}}
        <code>{{#delay}}</code>{{/delay}}
        {{~/if~}}
        <span class="
            {{~#if color}}text-{{color}} {{/if~}}
            {{~#if bold}}fw-bold {{/if~}}
            {{~#if italics}}fst-italic {{/if~}}
            {{~#if underline}}text-decoration-underline {{/if~}}
            {{~#if size}}fs-{{minus 7 size}} {{/if~}}
        ">{{contents}}</span>
        {{~flush_delayed~}}
    {{~/each_row~}}
</p>