{{{~html~}}}
{{~#if title~}}
    <h1 id="{{id}}" class="mt-3 {{#if center}}text-center{{/if}}">{{title}}</h1>
{{~else~}}
    {{#if id}}
        <a id="{{id}}"></a>
    {{/if}}
{{~/if~}}
{{~#if contents_md~}}
    <div class="remove-bottom-margin {{#if center}}mx-auto{{/if}} {{#if article}}markdown article-text{{/if}}">
        {{{~markdown contents_md~}}}
    </div>
{{~/if~}}
<p class="{{#if center}}mx-auto{{/if}} {{#if article}}markdown article-text{{/if}}">
    {{contents}}
    {{~#each_row~}}
        {{~#if break~}}</p><p>{{~/if~}}
        {{~#if link~}}
        <a href="{{link}}">{{#delay}}</a>{{/delay}}
        {{~/if~}}
        {{~#if code~}}
        <code>{{#delay}}</code>{{/delay}}
        {{~/if~}}
        <span class="
            {{~#if color}}text-{{color}} {{/if~}}
            {{~#if bold}}fw-bold {{/if~}}
            {{~#if italics}}fst-italic {{/if~}}
            {{~#if underline}}text-decoration-underline {{/if~}}
            {{~#if size}}fs-{{minus 7 size}} {{/if~}}
        ">{{contents}}</span>
        {{~flush_delayed~}}
        {{~#if contents_md~}}
            {{{markdown contents_md}}}
        {{~/if~}}
    {{~/each_row~}}
</p>
