<div
  class="container d-flex justify-content-center align-items-center min-vh-75 gap-5"
>
  <form action="/vote.sql" method="POST" class="d-flex gap-5">
    {{#each_row}}
      <div class="text-center">
        <input type="hidden" name="option_{{@row_index}}" value="{{dexNumber}}" />
        <img
          src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{dexNumber}}.png"
          class="img-fluid"
          style="width: 256px; height: 256px; image-rendering: pixelated;"
          alt="{{name}}"
        />
        <div class="mt-3">
          <span class="text-secondary fs-5">#{{dexNumber}}</span>
          <h2 class="fs-1 fw-bold text-capitalize">{{name}}</h2>
          <div class="mt-4">
            <button
              type="submit"
              formaction="/vote.sql?voted={{dexNumber}}"
              class="btn btn-primary btn-lg px-4"
            >
              Vote
            </button>
          </div>
        </div>
      </div>
    {{/each_row}}
  </form>
</div>