{{#each_row}}
    {{#if tag}}
        <{{{tag}}}>
        {{~#each (entries this)~}}
            {{#unless (eq key "tag")}}
                {{~value~}}
            {{/unless}}
        {{~/each~}}
        </{{{tag}}}>
    {{else}}
        <p>
            {{~#each (entries this)}}
                {{value}}
            {{/each~}}
        </p>
    {{/if}}
{{/each_row}}