<!DOCTYPE html>
<html lang="{{lang}}">
<head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="https://unpkg.com/@tabler/core@1.0.0-beta10/dist/css/tabler.min.css"
          integrity="sha384-jmBhmiTtTd+EXqowu+opmlXtLjL6dJL2wvAi88X3lKbN4FnIAncrMD1S7EfNxvlo" crossorigin="anonymous">
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content="{{description}}"/>
</head>

<body>
{{#if title}}
    <header class="page-header">
        <nav class="navbar navbar-dark bg-primary">
            <div class="container-fluid">
                <a class="navbar-brand" href="{{#if link}}{{link}}{{else}}#{{/if}}">
                    {{#if icon}}
                        <img src="{{icon}}" alt="" width="32" height="32"
                             class="d-inline-block align-text-top">
                    {{/if}}
                    {{title}}
                </a>
            </div>
        </nav>
    </header>
{{/if}}

<main class="layout-boxed">
    <div class="page">
        <main class="page-wrapper container-xl mt-3">
                    {{~#each_row~}}<!--end query-->{{~/each_row~}}
        </main>
    </div>
</main>

<script src="https://unpkg.com/@tabler/core@1.0.0-beta11/dist/js/tabler.min.js"
        integrity="sha384-f28j+F3H/adoEZHOH9YnzfHewG+lesL9nwfgglZp2EzrlmP5vJQng5PDeGmlwBVq"
        crossorigin="anonymous" defer></script>
</body>
</html>
