<h1 class="my-3 {{#if (default center true)}}text-center{{/if}}">{{title}}</h1>
<p class="mx-auto" style="max-width: {{default width 80}}ch">
    {{contents}}
    {{#each_row}}
        {{#if link}}
        <a href="{{link}}">{{#delay}}</a>{{/delay}}
        {{/if}}
        <span class="
            {{~#if color}}text-{{color}} {{/if~}}
            {{~#if bold}}fw-bold {{/if~}}
            {{~#if italics}}fst-italic {{/if~}}
            {{~#if underline}}text-decoration-underline {{/if~}}
        ">{{contents}}</span>
    {{flush_delayed}}
    {{/each_row}}
</p>